@font-face {
  font-family: "delreplica-regular";
  src: url("../fonts/DellReplicaTT-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "delreplica-bold";
  src: url("../fonts/DellReplicaTT-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "delreplica-regular-italic";
  src: url("../fonts/DellReplicaTT-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "delreplica-bold-italic";
  src: url("../fonts/DellReplicaTT-BoldItalic.ttf") format("truetype");
}
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "delreplica-regular";
}

.dear-customer {
  margin-top: 30px;
  margin-bottom: 50px;
}
.dear-customer .dear-customer-inner p {
  color: #000;
  font-weight: 400;
  font-size: 25px;
  font-family: "delreplica-regular";
}
@media (max-width: 991px) {
  .dear-customer .dear-customer-inner p {
    font-size: 18px;
  }
}
.dear-customer .dear-customer-inner p span {
  font-family: "delreplica-regular-italic";
}

.view-solution {
  background-image: url(../assets/img/New-Buyer-Enterprise-solutions-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 655px;
  padding-top: 6px;
}
@media (max-width: 1366px) {
  .view-solution {
    min-height: 525px;
    padding-top: 5px;
  }
}
@media (max-width: 991px) {
  .view-solution {
    min-height: 375px;
    padding-top: 4px;
  }
}
@media (max-width: 575px) {
  .view-solution {
    min-height: 285px;
    padding-top: 3px;
  }
}
@media (max-width: 480px) {
  .view-solution {
    min-height: 280px;
  }
}
.view-solution .view-solution-inner {
  background-color: #187ab9;
  padding: 80px 0;
  text-align: center;
}
@media (max-width: 1366px) {
  .view-solution .view-solution-inner {
    padding: 65px 0;
  }
}
@media (max-width: 991px) {
  .view-solution .view-solution-inner {
    padding: 40px 0;
  }
}
@media (max-width: 575px) {
  .view-solution .view-solution-inner {
    padding: 40px 25px;
  }
}
@media (max-width: 480px) {
  .view-solution .view-solution-inner {
    padding: 35px 15px;
  }
}
.view-solution .view-solution-inner p {
  color: #fff;
  font-size: 25px;
  text-align: center;
  margin-bottom: 55px;
}
@media (max-width: 991px) {
  .view-solution .view-solution-inner p {
    font-size: 19px;
    margin-bottom: 35px;
  }
}
@media (max-width: 480px) {
  .view-solution .view-solution-inner p {
    font-size: 17px;
  }
}
@media (max-width: 575px) {
  .view-solution .view-solution-inner p br {
    display: none;
  }
}
.view-solution .view-solution-inner a {
  background: #ee690e;
  color: #fff;
  font-family: "delreplica-bold";
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 30px;
  transition: 0.5s ease-in-out;
  border: 1px solid #ee690e;
}
@media (max-width: 991px) {
  .view-solution .view-solution-inner a {
    font-size: 23px;
    padding: 10px 10px;
  }
}
.view-solution .view-solution-inner a:hover {
  box-shadow: 0px 1px 30px 0px rgba(112, 112, 112, 0.15);
  background: #fff;
  color: #ee690e;
  border-color: #eaeaea;
}

.hybrid-section {
  margin: 70px 0;
}
.hybrid-section .box {
  text-align: center;
}
.hybrid-section .box img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
@media (max-width: 991px) {
  .hybrid-section .box img {
    width: 25px;
    height: 25px;
  }
}
.hybrid-section .box h5 {
  color: #000;
  font-size: 23px;
}
@media (max-width: 991px) {
  .hybrid-section .box h5 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .hybrid-section .box h5 {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .hybrid-section .box h5 {
    font-size: 17px;
  }
}
.hybrid-section .row-first {
  margin-bottom: 50px;
}
@media (max-width: 575px) {
  .hybrid-section .row-first {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 25px;
    margin-bottom: 25px;
  }
}
.hybrid-section .row-second {
  padding: 0 10%;
}
@media (max-width: 575px) {
  .hybrid-section .row-second {
    padding: 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 25px;
  }
}
@media (max-width: 767px) {
  .hybrid-section .row-second h5 {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .hybrid-section .row-second h5 {
    font-size: 17px;
  }
}
.hybrid-section .row-second .col-md-4:first-child .box {
  padding-left: 20%;
}
@media (max-width: 767px) {
  .hybrid-section .row-second .col-md-4:first-child .box {
    padding-left: 15%;
  }
}
@media (max-width: 575px) {
  .hybrid-section .row-second .col-md-4:first-child .box {
    padding-left: 0;
  }
}
.video-readmore {
  margin-bottom: 20px;
}
.video-readmore .watch-video {
  position: relative;
}
@media (max-width: 767px) {
  .video-readmore .watch-video {
    margin-bottom: 60px;
  }
}
.video-readmore .watch-video img {
  width: 100%;
  z-index: 1;
}
.video-readmore .watch-video .button-wrapper {
  width: 92%;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
}
.video-readmore .watch-video .button-wrapper a {
  background: #ee690e;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
  padding: 5px 0;
  transition: 0.5s ease-in-out;
  border: 1px solid #ee690e;
}
@media (max-width: 991px) {
  .video-readmore .watch-video .button-wrapper a {
    font-size: 20px;
  }
}
.video-readmore .watch-video .button-wrapper a:hover {
  box-shadow: 0px 1px 30px 0px rgba(112, 112, 112, 0.15);
  background: #fff;
  color: #ee690e;
  border-color: #eaeaea;
}
.video-readmore .read-more {
  position: relative;
}
.video-readmore .read-more img {
  width: 100%;
  z-index: 1;
}
.video-readmore .read-more .button-wrapper {
  width: 92%;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
}
.video-readmore .read-more .button-wrapper a {
  background: #ee690e;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
  padding: 5px 0;
  transition: 0.5s ease-in-out;
  border: 1px solid #ee690e;
}
@media (max-width: 991px) {
  .video-readmore .read-more .button-wrapper a {
    font-size: 20px;
  }
}
.video-readmore .read-more .button-wrapper a:hover {
  box-shadow: 0px 1px 30px 0px rgba(112, 112, 112, 0.15);
  background: #fff;
  color: #ee690e;
  border-color: #eaeaea;
}

.para {
  margin: 70px 0;
}
.para p {
  font-size: 23px;
  color: #000;
  font-weight: 500;
  font-family: "delreplica-bold";
}
@media (max-width: 991px) {
  .para p {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .para p {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .para .first-para br {
    display: none;
  }
}

.advancing-section {
  background-image: url(../assets/img/bottom-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 700px;
  padding-top: 155px;
}
@media (max-width: 991px) {
  .advancing-section {
    min-height: 450px;
    padding-top: 75px;
  }
}
@media (max-width: 767px) {
  .advancing-section {
    min-height: 340px;
    padding-top: 70px;
  }
}
.advancing-section img {
  width: 100%;
  margin-bottom: 50px;
}
@media (max-width: 991px) {
  .advancing-section img {
    margin-bottom: 35px;
  }
}
@media (max-width: 767px) {
  .advancing-section img {
    margin-bottom: 20px;
  }
}
.advancing-section p {
  color: #fff;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  font-family: "delreplica-bold";
}
@media (max-width: 991px) {
  .advancing-section p {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .advancing-section p {
    font-size: 18px;
  }
}
.advancing-section p span {
  font-size: 35px;
  font-weight: bold;
}
@media (max-width: 991px) {
  .advancing-section p span {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .advancing-section p span {
    font-size: 25px;
  }
}

.bottom-seciton {
  margin: 70px 0;
}
.bottom-seciton p {
  font-size: 23px;
  color: #000;
}
@media (max-width: 991px) {
  .bottom-seciton p {
    font-size: 17px;
  }
}
@media (max-width: 480px) {
  .bottom-seciton p {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
