body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


.dear-customer {
    margin-top: 30px;
    margin-bottom: 50px;

    .dear-customer-inner {
        p {
            color: #000;
            font-weight: 400;
            font-size: 25px;

            span {
                font-style: italic;
            }
        }
    }
}

.view-solution {
    background-image: url(../assets/img/New-Buyer-Enterprise-solutions-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 655px;
    padding-top: 6px;

    .view-solution-inner {
        background-color: #187ab9;
        padding: 80px 0;
        text-align: center;

        p {
            color: #fff;
            font-size: 25px;
            text-align: center;
            margin-bottom: 55px;
        }

        a {
            background: #ee690e;
            color: #fff;
            font-weight: bold;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 30px;
        }
    }
}

.hybrid-section {
    margin: 70px 0;

    .box {
        text-align: center;

        img {
            width: 40px;
            height: 40px;
            margin-bottom: 10px;
        }

        h5 {
            color: #000;
            font-size: 23px;
        }
    }

    .row-first {
        margin-bottom: 50px;
    }

    .row-second {
        padding: 0 10%;

        .col-md-4 {
            &:first-child {
                .box {
                    padding-left: 20%;
                }
            }

            &:last-child {
                .box {
                    //    padding-right: 42%;
                }
            }
        }
    }
}


.video-readmore {
    margin-bottom: 20px;
    .watch-video {
        position: relative;

        img {
            width: 100%;
            z-index: 1;
        }

        .button-wrapper{
            width: 92%;
           position: absolute;
           left: 50%;
           bottom: -20px;
           transform: translateX(-50%);

            a {
                background: #ee690e;
                color: #fff;
                text-decoration: none;
                display: block;
                text-align: center;
                font-size: 24px;
                border-radius: 5px;
                padding: 5px 0;
            }
        }
      
    }
    .read-more {
        position: relative;

        img {
            width: 100%;
            z-index: 1;
        }

        .button-wrapper{
            width: 92%;
           position: absolute;
           left: 50%;
           bottom: -20px;
           transform: translateX(-50%);

            a {
                background: #ee690e;
                color: #fff;
                text-decoration: none;
                display: block;
                text-align: center;
                font-size: 24px;
                border-radius: 5px;
                padding: 5px 0;
            }
        }
      
    }
}

.para{
    margin: 70px 0;
    p{
        font-size: 23px;
        color: #000;
        font-weight: 500;
    }
}

.advancing-section{
    background-image: url(../assets/img/bottom-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 700px;
    padding-top: 155px;
    img{
        width: 100%;
        margin-bottom: 50px;
    }
    p{
        color: #fff;
        font-weight: 500;
        font-size: 25px;
        text-align: center;
        span{
            font-size: 35px;
            font-weight: bold;
        }
    }
}


.bottom-seciton{
    margin: 70px 0;
    p{
        font-size: 23px;
        color: #000;
        font-weight: 500;
    }
}